/* -----layout----- */

.main-container {
    display: flex;
    width: 1200px;
}



/* ---gral-- */
ul{
    list-style-type:none;
}
.clear {
    clear: both;
}


/* ----aside---- */
aside{
    background-color:#289696;
    width: 30%;
    margin-right: 3%;
}

aside *{
    color: #ffff;
}
aside h2{
    text-transform: uppercase;
    letter-spacing: 3px;

}
/* :nth-child() */
aside section h2:first-child{
border-bottom:1px solid #ffff;
}

#profile img {
    border-radius: 50%;
}

/* ---main--- */
main section > h2 {
text-transform: uppercase;
letter-spacing:5px;
}

.hero{
    background-color: #31F3F3;
    box-shadow: 3px 3px 20px 10px #226666 inset;
}

.hero h2{
    color: #ffff;
    border-top:5px solid #ffff;
    text-transform: none;
    letter-spacing:normal;
}

.about-me {
 background-color: #8cf6f6;
}
.about-me h2{
    background-color: #ffff;
}


article h3 ,
article h4 {
    font-weight: bold;
    
}
article ul {
    list-style-type: square;
}

.referencias{
    background-color: #6C733D;
    display: flex;
    flex-wrap: wrap;

}

.referencias article{
/*width: 50%;  */
flex-basis: 50%;
}

dt,
dd{
    line-height: 1.5em;
    border-top: 1px solid #fff
}
 

dt:last-of-type,
dd:last-of-type{
    border-bottom: 1px solid #fff ;
}
dl{
    display: flex;
    flex-wrap: wrap;
}
dt,
dt{
flex-basis: 40%;
margin: 0;
}


/* dt{
    clear: left;
    width: 40%;
    float:left;
    border-top: 1px solid #fff;
    font-weight: bold;
} 
dd{
    clear: right;
    width: 50%;
    float:left;
    margin:0;
    border-top: 1px solid #fff
} */












