/* -----layout----- */

.main-container {
    display: flex;
    width: 100%;
   /*  width: 1200px; */
    /*  margin: 0 auto;  */
     justify-content: space-between;
}



/* ---gral-- */
ul{
    list-style-type:none;
}
.clear {
    clear: both;
}


/* ----aside---- */
aside{
    background-color:#289696;
    /* width: 30%; */
    flex-basis: 25%;
    margin-right: 3%;
   /*  padding: 15px; */
  
}

aside *{
    color: #ffff;
}
aside h2{
    letter-spacing: 3px;

}
/* :nth-child() */
aside section h2:first-child{
border-bottom:1px solid #ffff;
}

#profile img {
    border-radius: 50%;
    width: 100px;
    height: auto;
}

/* ---main--- */
main{
    flex-basis: 80%;
    /* 60% */
}
main section > h2 {
text-transform: uppercase;
letter-spacing:5px;
}

.hero{
    background-color: #31F3F3;
    box-shadow: 3px 3px 20px 10px #226666 inset;
    padding: 12% 15% ;
    text-align: center;
}

.hero h2{
    color: #ffff;
    border-top:5px solid #ffff;
    letter-spacing:15px;
    
}
.hero h1{
    letter-spacing:10px;
    
}

.about-me h2{
    background-color: #ffff;
}
.about-me p {
 line-height: 2em;
 background-color: #8cf6f6;
 padding: 5px;
 
}

article h3 ,
article h4 {
    font-weight: bold;
    
}
h1,
h2{
    text-transform: uppercase;
}

article ul {
    list-style-type: square;
}

.referencias{
    background-color:  #8cf6f6;
    display: flex;
    flex-wrap: wrap;

}

.referencias article{
    /*width: 50%;  */
    flex-basis: 50%;
    text-align: center;
}
/* ---flexbox--- */
dl{
    display: flex;
    flex-wrap: wrap;
}

dt,
dd{
    line-height: 1.5em;
    border-top: 1px solid #fff;
    flex-basis: 40%;
margin: 0;
}
 

dt:last-of-type,
dd:last-of-type{
    border-bottom: 1px solid #fff ;
}
dt{
    font-weight: bolder;
}
.linkedin::before{

font-family: "Font Awesome 5 Brands";
font-weight: 900;
font-size: 20px;
content: "\f08c";


}

.social-item::before {
    padding-right: 15px;
    
    
}
a{
    text-decoration: none;
}


meter{
    display: block;
    width: 80%;
    
}

meter::-webkit-meter-optimum-value{
    background: none;
    background-color: pink;
}
/* 
Para cambiar el fondo
    meter::-webkit-meter-bar{
    background: none;
    background-color: red;
} */
/* -----flotante----- */
/* dt{
    clear: left;
    width: 40%;
    float:left;
    border-top: 1px solid #fff;
    font-weight: bold;
} 
dd{
    clear: right;
    width: 50%;
    float:left;
    margin:0;
    border-top: 1px solid #fff
} */












