.oculta{
   display: none;
}
/* -----layout----- */


.main-container {
    display: flex;
    width: 100%;
   /*  width: 1200px; */
    /*  margin: 0 auto;  */
     justify-content: space-between;
}



/* ---gral-- */
ul{
    list-style-type:none;
    padding-inline-start: 15px;
    padding-inline-end: 15px;
}
.clear {
    clear: both;
}
/* 
*{
    margin: 0;
    padding:0;
} */
 body{
   /*  background-color: #daecec; */
   font-family: 'Barlow', sans-serif;
} 

/* ----aside---- */
aside{
    /* #293a3a  #289696 */
    background-color:#7ebebe;
    box-shadow: 3px 3px 20px 12px #6bbdbd inset;
    
    /* width: 30%; */
    flex-basis: 25%;
    margin-right: 3%;
   /*  padding: 15px; */
  /*  border-radius: 25px; */
  
}

aside *{
    color: #ffff;
}
aside h2{
    letter-spacing: 3px;

    font-family: 'Barlow', sans-serif;

}
/* :nth-child() */
aside section h2:first-child{
border-bottom:1px solid #ffff;
margin-left: 30px;
margin-right: 30px;
text-align: center;
}

#profile{
text-align: center;
}
#profile img {
    border-radius: 50%;
     width: 100px;
    height: auto; 
}

/* ---main--- */
main{
    flex-basis: 80%;
    /* 60% */
}
main section > h2 {
text-transform: uppercase;
letter-spacing:5px;
}

.hero{
    background-color: #83e7e7;
    box-shadow: 3px 3px 20px 10px #6bbdbd inset;
    padding: 12% 10% ;
    text-align: center;
}

.hero h2{
    color: #ffff;
    border-top:5px solid #ffff;
    letter-spacing:15px;
    
}
.hero h1{
    letter-spacing:5px;
   
    
}

.about-me h2{
    background-color: #ffff;
}
.about-me p {
 line-height: 2em;
 background-color:  #83e7e7; 
 padding: 5px;
 box-shadow: 3px 3px 20px 5px #6bbdbd inset;
  
}
/* .p{
    background-color:  #83e7e7;
    box-shadow: 3px 3px 20px 5px #6bbdbd inset;
} */

article h3 ,
article h4 {
    font-weight: bold;
    
}
h1,
h2{
    text-transform: uppercase;
}

article ul {
    list-style-type: square;
}

.referencias {
 background-color:  #87cccc;
    padding: 10px;
    box-shadow: 3px 3px 20px 10px #6bbdbd inset;
 
    
  

}

.referencias article{
    /*width: 50%;  */
    flex-basis: 50%;
    margin: 15px;
    
}
.referencias article h3{
    background-color:  #4d8a8a;
    padding: 10px;
  
    
}
/* ---flexbox--- */
dl{
    display: flex;
    flex-wrap: wrap;
}

dt,
dd{
    line-height: 1.5em;
    border-top: 1px solid #fff;
    flex-basis: 40%;
margin: 0;
}
 

dt:last-of-type,
dd:last-of-type{
    border-bottom: 1px solid #fff ;
}
dt{
    font-weight: bolder;
}
.linkedin::before{

font-family: "Font Awesome 5 Brands";
font-weight: 900;
font-size: 20px;
content: "\f08c";


}
.ws::before{

    font-family: "Font Awesome 5 Brands";
    font-size: 20px;
    content: "\f232";
    
    
}
.lt::before{

    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 20px;
    content: "\f3c5";
      
}
.gmail::before{

    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 17px;
    content: "\f0e0";
   
}
.postal::before{

    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 17px;
    content: "\f674";
      
}
.social-item::before {
    padding-right: 15px;
  
    
    
    
}
a{
    text-decoration: none;
}


meter{
    display: block;
     width: 80%;  
    
}

meter::-webkit-meter-optimum-value{
    background: none;
    background-color: rgb(39, 142, 150);
}

.contacto{
    margin-left: 49px;

}
.contacto li{
    padding-top: 5px;
}

.titulode{
    font-weight: bold;
  
    
}
.lado{
    font-style: italic;
}

.ver::before{

    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 17px;
    content: "\f06e";
      
}
button{
    background-color:  rgb(39, 142, 150);
    border: none;
    border-radius: 50px;
}
.habilidades ul{
   
list-style-type: square;
margin-left: 15px;
    
}
/* 
Para cambiar el fondo
    meter::-webkit-meter-bar{
    background: none;
    background-color: red;
} */
/* -----flotante----- */
/* dt{
    clear: left;
    width: 40%;
    float:left;
    border-top: 1px solid #fff;
    font-weight: bold;
} 
dd{
    clear: right;
    width: 50%;
    float:left;
    margin:0;
    border-top: 1px solid #fff
} */


@media (max-width:1968px){
    .contacto{
        margin-left: 8px;
    
    }
}

@media (max-width:768px){
    .contacto{
        margin-left: 8px;
    
    }
    .oculta{
        display: block;
     }
     .nombre{
        display: none;
     }
    .main-container {
        display: block;
        width: 100%;
        margin:0;
        padding: 0;
        padding: 0;
        
       
        
    }
    aside{
        margin:0;
        padding: 0;
    }
    .hero h2{
        letter-spacing:10px;
        font-size: 15px;
    }

    #profile img {
        
        width: 100px;
        height: auto; 
    }
    #profile{
        text-align: center;
        padding-top: 15px;
        }
}











